<div class="ikenna">
        <div class="nom animated bounceInRight">ONYIRIMBA IKENNA</div> 
        <div class="titrepage rouge animated bounceInRight  ">Développeur Logiciel</div>
        <div>  <div class="numero">06 15 32 22 42</div> </div>
        <div>  <a class=" email " href="mailto:ikenn.ony@gmail.com">ikenn.ony@gmail.com</a> </div>
       
        

        <div class='kyrie '>     
            <img src="assets/image/monfond.jpg.JPG"  height="250px" width="200"  /> 
        </div> 

        
         
        <div class="">    

            <h2 class="baba hvr-underline-from-center ">Domaines de Compétences</h2>
        <div> 
                    <div class="langages">Langages : 
        </div>  
        <div class="bloc">
            <a class=" tagCompetences hvr-radial-out hvr-pulse-shrink">HTML</a> <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">CSS</a> <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Javascript</a> <br>
            <a class="tagCompetences hvr-radial-out hvr-pulse-shrink">PHP</a> <a class=" tagCompetences hvr-radial-out hvr-pulse-shrink">SQL Server</a><br />    
        </div>
            
               <div> 
           <div class="langages2">Framework :  </div>
        </div>
       <div class="bloc2">         
        <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Boostrap</a> <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Angular JS</a>
       </div>
       <div> 
           <div class="langages3">Logiciels : 
        </div>
         <div class="bloc3">        
        <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">LibreOffice</a> <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">NetBeans</a><br />
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">VirtualDJ</a> <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Photoshop</a><br />

        <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Eset Nod32</a> <br />  <a class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Mc Afree</a>
        <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Excel</a>
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Word</a> <br />  <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Ilustrator</a> 
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">WebStorm</a> <br/>
         </div>
        <div> 
            <div class="langages6">Travail en équipe :
        </div>
             <div class="bloc6">
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Répartir les taches </a><br/>
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Maîtriser les techniques de communication   </a><br/>
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Respecter les règles de confidentialités </a><br/>
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Participer au développement d’un site internet (2016) </a><br/>
        </div>   
            
             <div class="langages5">Bibliothèques : 
        </div>
        <div class="bloc5">         
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">JQuery</a> <a class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Front-Awesome</a> <a class="tagCompetences hvr-radial-out hvr-pulse-shrink">Hover.css</a> <br />
        <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Animated.css</a><br/>
        </div>
          <div> 
           <div class="langages4">Systèmes d’exploitation :
        </div>
        <div class="bloc4"> 
        <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Windows</a> <br/>
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Linux</a> <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Mac OS</a> <br/>
        </div>
              <div> <br>
            <!--
               <div class="langages7">CMS : </div>
        </div>
        <div class="bloc7">    
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">WordPress</a>  
          <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Prestashop</a> 
       
        </div>
              
              
        
        <div class="langages7"> Autres compétences :
        </div>
        <div class="bloc7">    
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">GitHub</a> <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">MVC</a> <br/>
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Responsive Design</a> <br/>
          <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Autodidacte</a> <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Bricoleur</a> <br/>
        
        </div>
               
        <p class="infocom  hvr-underline-from-center">INFORMATIONS COMPLÉMENTAIRES</p>
        <a class="infocom2 tagCompetences hvr-radial-out hvr-pulse-shrink">Anglais: Lire, écrire et parler couramment</a>
        <a class="infocom2 tagCompetences hvr-radial-out hvr-pulse-shrink">Français: Langue maternelle</a>
        <a class="infocom2 tagCompetences hvr-radial-out hvr-pulse-shrink">Espagnol: Niveau avancé</a> <br/>
        
          -->
            <p class="form lala hvr-underline-from-center">FORMATION</p>
               </div>
            
           <!-- 
<div class="blocExp2 hvr-curl-top-left hvr-box-shadow-outset hvr-forward">
            <div class="row">
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
               
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                <div class="col-12 col-md-">
                    <div class="">
                        <img  height="250" src="https://www.nouvelleviepro.fr/assets/uploads/jpo/jpo_structure_logoaformac.jpg" height="200px" width="200px" ><br /> </div>
                   
                <div class="">
                    <h4>Juin 2017 à aujourd'hui :</h4> <h6>Aformac Brive</h6> 
                    <em> 
                        *Admission en Concepteur développeur d'applications web, titre certifié par  l’État de niveau III, bac + 2   
                    </em>   
                </div>
               
               
                </div>        
        </div>  
    </div>  
            -->
             <div class="blocExp3 hvr-curl-top-left hvr-box-shadow-outset hvr-forward">
            <div class="row">
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                <div class="col-12 col-md-">
                    <div class="">
                        <img src="http://www.museomixlim.fr/wp-content/uploads/2015/09/logo-bastie.jpg" height="200px" width="200px" ><br /> </div>
                   
                <div class="">
                    <h2> Septembre 2014  à Juillet 2017 </h2> <h3>Limoges (87000), France</h3> 
                    <h4> 
                        Préparation du baccalauréat professionnel systèmes électroniques numériques au Lycée Maryse Bastié.   
                    </h4>   
                </div>
               
               
                </div>        
        </div>  
             </div>       


       <!--        
               
            <div class="cen_int">            
               
      <p class="lala hvr-underline-from-center">CENTRES D’INTÉRÊT</p>
        
      <div class="cenint"> Sports :  </div><br>
         <a class="tagCompetences hvr-radial-out hvr-pulse-shrink">Basket-ball</a> 
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Football</a> 
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Handball</a> <br>
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink"> Natation</a>
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Boxe</a> 
         <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">Musculation</a> <br>
         <a class="tagCompetences hvr-radial-out hvr-pulse-shrink">Rugby</a> 
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Capoeira</a> 
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Athlétisme</a> <br/><br>
       
         <div class="cenint"> Lecture :</div>  <br> 
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Articles de presse et de journaux  </a> <br />
        
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Disk jockey </a> 
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Randonnée </a> 
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink"> Shopping</a> 
        <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Cinéma</a> 
        <a class="tagCompetences hvr-radial-out hvr-pulse-shrink">Exposition  </a> 
        <a class="tagCompetences hvr-radial-out hvr-pulse-shrink">Dessin </a> <br /><br>
        
        
        <div class="cenint"> Voyages internationaux :  </div> <br>
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Royaume-Uni </a>  <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Italie</a>  <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink"> Espagne </a> <br />
         <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Nigeria </a>  <a  class="tagCompetences hvr-radial-out hvr-pulse-shrink">Canada</a>  <a  class=" tagCompetences hvr-radial-out hvr-pulse-shrink">États-Unis</a> 
        


   </div>   
        
        -->
        
        
        
        
        
        
        
        
        
        
        
        
         <p class="exp hvr-underline-from-center">EXPÉRIENCES PROFESSIONNELLES</p>
        
        

<div class="blocExp hvr-curl-top-left hvr-box-shadow-outset hvr-forward">
            <div class="row">
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                <div class="col-12 col-md-">
                    <div class="">
                        <img src="http://www.frp2i.fr/wp-content/uploads/sites/716/2016/02/bsi.jpg" height="200px" width="200px" ><br /> </div>
                   
                    <div class="">
                    <h2>Octobre 2015 (1 mois) : Stagiaire à BSI Informatique (dans le cadre des études)</h2> <h3>  Limoges (87000), France.</h3> 
                    <h4> Installation et Désinstallation du logiciel Mc Afree sur l'ordinateur d'un technicien.  <br/>
                         Analyse et mise à jour du logiciel antivirus Eset Nod32 sur l'ordinateur d'un client.</h4>
                </div>
       </div>       
             
                
        </div>  
    </div>
    <div class="blocExp hvr-curl-top-left hvr-box-shadow-outset hvr-forward">
            <div class="row">
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
             
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                <div class="col-12 col-md-">
                    <div class="">
                        <img src="assets/image/1200x630bb.jpg" height="200px" width="200px" ><br /> </div>
                   
                    <div class="">
                        <h2>Avril 2016 (2 semaines) : Assistant stagiaire à MacWay (dans le cadre des études)</h2> <h3> à Limoges (87000), France.</h3> 
                        <h4> Assistance logiciel auprès des utilisateurs. <br/>
                             Vendre des matériels et ordinateurs portables.</h4>
                    </div>    
                </div>
               
         
                
    </div>  
    
    </div>
    <!--
       <div class="blocExp hvr-curl-top-left hvr-box-shadow-outset hvr-forward">
            <div class="row">
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
             
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                <div class="col-12 col-md-">
                    
                   
                         
                </div>
                      <div class="col-12 col-md-">
                    <div class="">
                        <img src="http://s2.static-clubeo.com/uploads/panaloisirs-judo/sponsors/o-clic-store-limoges__o96ukj.jpg"height="200px" width="200px" ><br /> </div>
                   
                    <div class="">
                       <h4>Février 2016 (2 semaines) : Stagiaire à O'CLIC STORE (dans le cadre des études)</h4> <h5>   Limoges (87000), France.</h5> 
                    <em> *Gérer les documents informatiques (listings, cartes, etc..)  <br/> </em>
                    </div>    
                </div>
               
         
                
        </div>  
   
      </div>
  
           
           
           
           
           
              <div class="blocExp hvr-curl-top-left hvr-box-shadow-outset hvr-forward">
            <div class="row">
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
             
                <div class="col-4 col-md-0 hiddenContentDesktopl"></div>
                <div class="col-12 col-md-">
                    <div class="">
                        <img src="http://www.mtsystem.fr/img/xdemo-logo-1465078585.jpg.pagespeed.ic.LZTfZep57I.jpg" height="200px" width="200px" ><br /> </div>
                   
                      <div class="">
                    <h4>Septembre 2015 (1mois)  : Réparateur stagiaire à MT system (dans le cadre des études),</h4> <h5> Toulouse (31400), France.</h5> 
                    <em>
                        *Communiquer en anglais et maîtriser les vocabulaires et les pratiques professionnelles<br/>
                        *Accueillir la clientèle et réparations des ordinateurs fixes et portables<br/>
                        *Effectuer les réparations en respectant la confidentialité des données de la clientèle<br/>
                        *Réparer les pannes et conseiller la clientèle au sujet du matériel adapté </em>   
                </div>
                </div>
               
         
                
    </div>  
    
    </div>

-->






        <div id="header"></div>
        <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2779.4544043057303!2d1.2785719150931327!3d45.84220431616249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f934f25550c85b%3A0x24ab726f77ef67ff!2s21+Rue+Michel+Ange%2C+87000+Limoges!5e0!3m2!1sfr!2sfr!4v1503939823917"  frameborder="0" style="border:0" allowfullscreen="" height="190" allowfullscreen></iframe> <div class="groupeaformac"></div>

        
        
        
        </div>        
</div>    
           
       