<body class="ikenna a">  
    
    <a class="projets">
Projets
    </a> <br>
    
    <a class="texte">

Projets de reproduction  de site, d'ergonomie ou de responsive design.
    </a> <br>


            <hr> 
          

               
                   
                    
                       
                        
                        
       
              <div>       

   <h4 class="card-title"> Last constitution</h4>
                        <p class="card-text">Jeux Vidéo <br> Développé avec le CMS WordPress</p>
                 <a href="http://localhost/game_theLastConstitution_wp/index.php/lobby/" target="_blank" class="btn-xl">Voir le projet</a> 

<div class="container">
  <img src="assets/image/Capture du 2018-02-15 23-37-58.png"  alt="Avatar" class="image">
  <div class="overlay">
      <a href="http://localhost/game_theLastConstitution_wp/index.php/lobby/" target="blank" class="icon" title="User Profile">
     <i class="fa fa-plus"></i>
    </a>
  </div>
</div>    
             
             
              </div>     <br><br><br><br>   
         
            
           
            
       
              
              
              
              
             
            
            
            
                      <div>       

   <h4 class="card-title"> Explorateur de Fichier</h4>
                        <p class="card-text">Gestionnaire de contenu <br> </p>
                 <a href="http://localhost/domotiqueRasberry/Ikenn/Etat_du_Raspberry/" target="_blank" class="btn-xl">Voir le projet</a> 

<div class="container">
  <img src="assets/image/Capture du 2018-02-17 23-51-06.png"  alt="Avatar" class="image">
  <div class="overlay">
      <a href="http://localhost/domotiqueRasberry/Ikenn/Etat_du_Raspberry/" target="blank" class="icon" title="User Profile">
     <i class="fa fa-plus"></i>
    </a>
  </div>
</div>    
             
             
              </div>   <br><br><br><br>
            
            
                      <div>       

   <h4 class="card-title"> BlueEasy</h4>
   <p class="card-text">Integration de themes <br> Uniquement avec le CSS <br></p>
                 <a href="http://localhost/maquetteBlueasySabAlexIkenn/" target="_blank" class="btn-xl">Voir le projet</a> 

<div class="container">
  <img src="assets/image/Capture du 2018-02-12 20-17-42.png"  alt="Avatar" class="image">
  <div class="overlay">
      <a href="http://localhost/maquetteBlueasySabAlexIkenn/" target="blank" class="icon" title="User Profile">
     <i class="fa fa-plus"></i>
    </a>
  </div>
</div>    
             
             
              </div>  <br><br>   <br><br>
            
            
                      <div>       

   <h4 class="card-title"> Vert Orange</h4>
                        <p class="card-text">Création d'un site from scratch<br></p>
                 <a href="http://localhost/voyagejapon_ikenn_benoit_christian/WebContent/" target="_blank" class="btn-xl">Voir le projet</a> 

<div class="container">
  <img src="assets/image/Capture du 2018-02-13 09-03-22.jpg"  alt="Avatar" class="image">
  <div class="overlay">
      <a href="http://localhost/voyagejapon_ikenn_benoit_christian/WebContent/" target="blank" class="icon" title="User Profile">
     <i class="fa fa-plus"></i>
    </a>
  </div>
</div>    
             
             
                      </div>   <br><br><br><br>
            
            
                      <div>       

   <h4 class="card-title"> INB Avaders</h4>
                        <p class="card-text">Jeux Vidéo <br> Découverte du Javascript</p>
                 <a href="http://localhost/INBAvaders/" target="_blank" class="btn-xl">Voir le projet</a> 

<div class="container">
  <img src="assets/image/Capture du 2018-02-20 11-42-24.png"  alt="Avatar" class="image">
  <div class="overlay">
      <a href="http://localhost/INBAvaders/" target="blank" class="icon" title="User Profile">
     <i class="fa fa-plus"></i>
    </a>
  </div>
</div>    
             
             
              </div>   
    
</body>