<body class="ikenna a">  
   
  
           


<a class="intro-heading ">  Bonjour !
    
</a>
<br>

<a class="c">
Je suis Ikenna Onyirimba, 
</a>

<a class="luc">
    développeur front-end et back-end en formation, </a><br>

<a class="c">
curieux,
</a>

<a class="luc">
créatif et humain,
</a>

<a class="c">
avec 8 mois d'
</a>
    
    <a class="luc">
expérience.
    </a> <br>
    
<a class="c">
Je conçois et réalise des
</a>

<a class="luc">
projets
</a> <br>

<a class="c">
informatiques
et des sites web sur internet.
</a> <br><br><br>          
 


<a href="cv" class="btn-xl">En savoir plus</a>  


 

 
 </body> 